.ap-header {
  -webkit-app-region: drag;
  background-color: $grey-lightest;
  border-bottom: 4px solid $red-med;
  color: $grey-darkest;
  display: flex;
  font-size: .5rem;
  height: 5.3rem;
  justify-content: flex-start;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;

  @media (min-width: $mobile-flip) {
    font-size: 1rem;
  }

  &::before {
    -webkit-app-region: no-drag;
    content: '';
    height: 2px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 11;
  }
}

.ap-download-btn {
  display: none;
  margin: 0 1.667em 0 1.5em;

  .ap-session-btn + & { margin-left: .54em; }
}

.ap-history {
  min-width: 11em;

  &__ico {
    display: block;
    fill: rgba($black, .87);
    height: 1.7em;
    width: 1.1em;
  }

  &__items {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &__item { flex: 0 0 auto; }

  &__next-link,
  &__prev-link {
    align-items: center;
    background-color: rgba($black, .04);
    border: 2px solid $white;
    border-radius: 50%;
    box-shadow: 0 3px 0 rgba($black, .26);
    display: flex;
    height: 3.4em;
    justify-content: center;
    transition:
      background-color .3s ease,
      box-shadow .3s ease,
      opacity .3s ease;
    width: 3.4em;

    &:hover { background-color: $white; }

    &:disabled {
      border-color: transparent;
      box-shadow: none;
    }
  }

  &__next-link {
    margin-left: .7em;
    padding-left: .2em;
  }

  &__prev-link { padding-right: .2em; }
}

.ap-menu {
  border-left: 1px solid $grey-light;
  border-right: 1px solid $grey-light;
  position: relative;

  &__toggle {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    display: flex;
    height: 2.4em;
    justify-content: center;
    margin-left: 1.2rem;
    transition: border-color .2s ease;
    width: 2.4em;
    z-index: 4;

    &-txt {
      border-color: $grey-darkest transparent transparent;
      border-style: solid;
      border-width: .6rem .6rem 0;
      color: transparent;
      content: '';
      display: block;
      height: 0;
      opacity: .66;
      overflow: hidden;
      pointer-events: none;
      transition:
        border-color .2s ease,
        transform .2s ease;
      width: 0;

      &.is-active,
      &.ap-menu__toggle:hover { border-top-color: $purple-med; }

      &.is-active { transform: translateY(0) rotate(180deg); }
    }

    &:hover,
    .is-active & { border-color: $purple-med; }
  }

  .c-options__menu {
    right: -.5rem;
    top: calc(100% - .2rem);
  }
}

.ap-kartridge {
  align-items: center;
  border-left-width: 0;
  display: flex;
  flex: 0 0 auto;
  padding: 0 1.2rem 0 2.5rem;
  position: relative;
  z-index: 4;

  &__link {
    display: block;

    &::before {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__logo {
    display: block;
    height: 100%;
    width: 14.1rem;
  }

  &__title {
    flex: 0 0 auto;
    font-size: 1em;
    overflow: hidden;
  }

  .ap-menu__toggle {
    &::before {
      content: '';
      height: 4.9rem;
      left: -17.9rem;
      position: absolute;
      top: -1.3rem;
      width: 21.6rem;
    }
  }

  .c-options__menu {
    left: 2rem;
    right: auto;
  }
}

.ap-mac-window {
  align-items: center;
  border-right: 1px solid $grey-light;
  display: flex;
  justify-content: center;
  min-width: 88px;

  &__close,
  &__max,
  &__min {
    flex: 0 0 auto;
    margin-right: 8px;
    z-index: 12;

    &-link {
      border-radius: 50%;
      cursor: default;
      display: block;
      height: 12px;
      position: relative;
      width: 12px;
      z-index: 0;

      &::after {
        background-color: rgba($black, .25);
        border-radius: 50%;
        content: '';
        cursor: default;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
      }

      &::before {
        background-color: rgba($black, .66);
        content: '';
        height: 150%;
        left: -25%;
        opacity: 0;
        position: absolute;
        top: -25%;
        width: 150%;
        z-index: 1;
      }

      &:active {
        &::after { opacity: 1; }
      }
    }
  }

  &__close {
    &-link {
      background-color: $mac-red;

      &::before {
        mask: url('/assets/icons/mac-close.svg') no-repeat 50% 50%;
        mask-size: 4px 4px;
      }
    }
  }

  &__max {
    margin-right: 0;

    &-link {
      background-color: $mac-green;

      &::before {
        mask: url('/assets/icons/mac-maximize.svg') no-repeat 50% 50%;
        mask-size: 6px 6px;
      }

      &.maximized {
        &::before {
          mask: url('/assets/icons/mac-demaximize.svg') no-repeat 50% 50%;
          mask-size: 10px 10px;
        }
      }
    }
  }

  &__min {
    &-link {
      background-color: $mac-yellow;

      &::before {
        mask: url('/assets/icons/mac-minimize.svg') no-repeat 50% 50%;
        mask-size: 8px 2px;
      }
    }
  }

  &:hover {
    .ap-mac-window {
      &__close,
      &__max,
      &__min {
        &-link::before {
          opacity: 1;
        }
      }
    }
  }
}

.ap-search {
  display: none;
  flex: 1;
  z-index: 4;

  .ap-nav & { display: block; }
}

.ap-session-btn {
  display: block;
  margin-left: 1.5em;

  &__ico { display: none; }
}

.ap-user {
  border-right-width: 0;
  display: flex;
  flex: 0 0 auto;

  &__avatar {
    align-self: center;
    border-radius: 3px;
    display: block;
    grid-row: span 2;
    height: 4rem;
    width: 4rem;
  }

  &__group {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    padding: 0 3.2rem 0 1rem;
    position: relative;
    text-decoration: none;
    z-index: 1;

    &::before {
      background-image:
        repeating-linear-gradient(
          to bottom,
          $grey-lighter 0,
          $grey-lighter 1px,
          $grey-light 1px,
          $grey-light 2px
        );
      bottom: 0;
      content: '';
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity .2s ease;
      z-index: -1;
    }

    .is-active > &,
    &:hover {
      &::before { opacity: 1; }
      + .ap-menu__toggle { border-color: $grey-med; }
    }
  }

  &__list-title {
    background-color: $grey-lightest;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: $grey-darker;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding: 1.2rem 1.5rem;
    text-transform: uppercase;
    transform: translateY(-.6rem);

    strong {
      color: $purple-med;
      display: block;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: none;
    }
  }

  &__lvl {
    color: $grey-dark;
    display: block;
    font-size: .73em;
    margin-top: .45em;
    text-transform: uppercase;

    .u-lvl {
      font-size: 1em;
      line-height: 1.5;
      margin-left: .4ch;
    }
  }

  &__name {
    align-self: center;
    color: $grey-darkest;
    display: none;
    font-size: 1.5rem;
    font-weight: 500;
    grid-row: span 2;
    line-height: 1em;
    margin-left: 1rem;
    transform: translateY(5%);
  }

  .ap-menu__toggle {
    position: absolute;
    right: .4rem;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .c-options__menu {
    right: .3rem;

    &-list {
      &::after,
      &::before { right: .4rem; }

      &::before { border-bottom-color: $grey-lightest; }
    }
  }
}

.ap-win-menu {
  border-right: 1px solid $grey-light;
  min-width: 88px;

  &__btn {
    background-color: $black;
    display: block;
    height: 100%;
    mask: url('/assets/icons/win-menu.svg') no-repeat 50% 50%;
    mask-size: 1.2rem .9rem;
    opacity: .66;
    width: 100%;

    &:hover,
    &.active {
      background-color: $purple-med;
      opacity: 1;
    }
  }
}

.ap-win-window {
  align-items: center;
  -webkit-app-region: no-drag;
  border-left: 1px solid $grey-light;
  display: flex;
  justify-content: center;
  margin-left: auto;
  padding-left: .8rem;

  &__close,
  &__max,
  &__min {
    flex: 0 0 auto;
    margin-right: .8rem;
    z-index: 12;

    &-link {
      background-color: $black;
      border-radius: 50%;
      display: block;
      height: 26px;
      opacity: .66;
      width: 26px;
      will-change: background-color;

      &:hover {
        background-color: $purple-med;
        opacity: 1;
      }

      .ap-win-window--w-modal & {
        background-color: $white;
        opacity: .33;

        &:hover {
          background-color: $white;
          opacity: .66;
        }
      }
    }
  }

  &__close {
    &-link {
      mask: url('/assets/icons/win-close.svg') no-repeat 50% 50%;
      mask-size: 10px 10px;
    }
  }

  &__max {
    &-link {
      mask: url('/assets/icons/win-maximize.svg') no-repeat 50% 50%;
      mask-size: 10px 10px;

      &.maximized {
        mask: url('/assets/icons/win-demaximize.svg') no-repeat 50% 50%;
        mask-size: 10px 10px;
      }
    }
  }

  &__min {
    &-link {
      mask: url('/assets/icons/win-minimize.svg') no-repeat 50% 50%;
      mask-size: 10px 2px;
    }
  }
}

@media (max-width: $mobile-flip-inv) {
  .ap-frame.is-web {
    .ap-header { position: relative; }

    .ap-kartridge {
      padding: 0 2.2em 0 3em;

      &__logo {
        height: 4.2em;
        margin-right: -17.5em;
        width: 23.56em;

        .svg-full-logo__text,
        .svg-full-logo__text-shadow { display: none; }
      }
    }

    .ap-menu {
      position: relative;
      z-index: 4;

      &__toggle {
        border-color: transparent;
        margin-left: .4em;

        &::before {
          bottom: 0;
          height: auto;
          left: 0;
          width: 100%;
        }
      }
    }

    .ap-session-btn {
      background: transparent;
      border-width: 0;
      font-size: 1em;
      height: 100%;
      margin: 0;
      width: 13em;

      &__ico {
        display: block;
        height: 4.2em;
        margin: 0 auto;
        opacity: .6;
        width: 4.62em;
      }

      &__txt {
        color: transparent;
        font: 0/0 a;
        position: absolute;
      }
    }

    .ap-user {
      &__avatar {
        height: 5em;
        width: 5em;
      }

      &__group { padding: 0 6em 0 1.67em; }

      .ap-menu__toggle {
        &::before {
          content: '';
          display: block;
          height: calc(5.3rem - 4px);
          left: calc(-6.67em - 100%);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 12.67em;
        }
      }
    }
  }
}

@media (min-width: $mobile-flip) {
  .ap-download-btn { display: block; }

  .ap-menu {
    &__download,
    &__toggle::before { display: none; }
  }

  .ap-search { display: block; }

  .ap-user {
    border-right-width: 1px;

    &__group { padding-right: 4.8em; }
    &__list-title { display: none; }
    &__name { display: block; }

    .ap-menu__toggle {
      right: 1.3em;
      transform: translateY(-50%);
    }

    .c-options__menu {
      right: -.5rem;

      &-list {
        &::after,
        &::before { right: 2.1em; }

        &::before { border-bottom-color: $white; }
      }
    }
  }

  @supports (display: grid) {
    .ap-header {
      grid-area: ap-head;
      position: relative;
      z-index: unset;
    }
  }
}
