html,
body {
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

html { font-size: 10px; }

body {
  background-color: #444;
  font: 400 1.4rem/2rem $gordita-family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

h1,
.h1 {
  color: $grey-darkest;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3rem;
  text-transform: none;
}

h2,
.h2 {
  color: $purple-med;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3,
.h3 {
  color: $grey-darkest;
  font-size: 1.5rem;
  font-weight: 700;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  color: $grey-dark;
  font-size: 1.2rem;
  font-weight: 400;
}

code { font-family: $mono-family; }
