.c-mask {
  display: block;
  mask-position:
    top left,
    top right,
    bottom left,
    bottom right,
    0 0,
    0 0;
  mask-repeat: no-repeat;
  position: relative;

  &__inset {
    background-position: 50% 50%;
    background-size: cover;
    display: block;
    height: calc(100% - 1px);
    left: 0;
    mask-position:
      top left,
      top right,
      bottom left,
      bottom right,
      1px 1px,
      1px 1px;
    mask-repeat: no-repeat;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
