// Animations
$curve: cubic-bezier(.4, 0, .6, 1);

// Dimensions
$app-min-height: 680px;
$app-min-width: 1200px;
$header-height: 5.3rem;
$mobile-header-height: 6.83rem;
$nav-width: 8.8rem;
$sidebar-width: 320px;
$mobile-flip: 840px;
$mobile-flip-inv: 839px;

// Font Families
$gordita-family: Gordita, Helvetica, Arial, sans-serif;
$mono-family: 'Roboto Mono', monospace;
$roboto-family: Roboto, Helvetica, Arial, sans-serif;
$roboto-cond-family: 'Roboto Condensed', Helventica, Arial, sans-serif;
