// Button Sizes and Defaults
.btn--s,
.btn--m,
.btn--l,
.btn--xl {
  border-radius: 3px;
  display: inline-block;
  isolation: isolate;
  letter-spacing: .04em;
  opacity: 1;
  padding: 0 2em 2px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition:
    background-color .3s ease,
    box-shadow .3s ease,
    opacity .24s $curve;

  &,
  *,
  &::before { cursor: pointer; }

  &.has-tag::before {
    content: '';
    display: block;
    margin-right: auto;
  }
}

.btn--s,
.btn--m,
.btn--l {
  font-weight: 700;
  text-transform: uppercase;
}

.btn--s {
  font-size: 1.1rem;
  line-height: 2.1;
  padding: 1px 1em 2px;
  text-transform: none;
}

.btn--m {
  font-size: 1.1rem;
  line-height: 1.27;
  padding: .727em 1em .909em;
}

.btn--l {
  font-size: 1.4rem;
  line-height: 2em;
  padding: 0 1.4em 2px;
}

.btn--xl {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  justify-content: center;
  line-height: 1.2;
  min-height: 3.8em;
  min-width: 18.7em;
  padding-bottom: .5em;
  padding-top: .5em;

  > strong {
    font-style: normal;
    font-weight: 700;
    margin: 0 .33ch;
    text-transform: uppercase;
  }
}

// Colors

.btn--light {
  background-color: rgba($grey-med, .33);
  box-shadow: inset 0 -2px 0 rgba($grey-darker, .33);
  color: $grey-darker;

  svg { fill: $grey-darker; }

  &::before {
    background-color: $black;
    bottom: 0;
    content: '';
    left: 0;
    mix-blend-mode: soft-light;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .3s ease;
  }

  &.is-active,
  &:hover {
    box-shadow: none;

    &::before { opacity: .12; }
  }

  &:disabled,
  &.disabled {
    box-shadow: none;
    opacity: .42;
  }

  &.btn--s { box-shadow: inset 0 -1px 0 rgba($grey-darker, .33); }
}

.btn--purple {
  background-color: $purple-med;
  box-shadow: inset 0 -2px 0 $purple-darker;
  color: $white;

  svg { fill: $white; }

  &:hover {
    background-color: $purple-dark;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    background-color: $purple-lighter;
    box-shadow: none;
  }

  &.btn--s { box-shadow: inset 0 -1px 0 $purple-darker; }
}

.btn--red {
  background-color: $red-light;
  box-shadow: inset 0 -2px 0 $red-dark;
  color: $white;

  svg { fill: $white; }

  &.is-active,
  &:hover { background-color: $red-dark; }

  &:disabled,
  &.disabled {
    background-color: $red-lighter;
    box-shadow: none;
  }

  &.btn--s { box-shadow: inset 0 -1px 0 $red-dark; }
}
