.c-filmstrip {
  padding-bottom: 0.5rem;

  &__btn {
    background-color: transparent;
    height: 6.4rem;
    width: auto;
  }

  &__helper {
    align-items: center;
    border-left: 1px solid $purple-lighter;
    display: flex;
    flex: 0 0 auto;
    margin-left: 1rem;
    padding-left: 1.5rem;

    &-main {
      color: $red-med;
    }

    &-txt {
      flex: 0 0 auto;
      font-size: 1.1rem;
      line-height: 1.5rem;
      max-width: 24rem;
    }
  }

  &__img {
    border-radius: 3px;
    cursor: pointer;
    display: block;
    height: 100%;
    width: auto;
  }

  &__item {
    margin-right: 0.7rem;
    position: relative;

    &.is-active {
      &::before {
        border: 0.2rem solid $purple-med;
        border-radius: 3px;
        bottom: 1rem;
        content: '';
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    &:last-child {
      margin-right: 0;
      padding-right: 2rem;

      &.is-active {
        &::before {
          right: 2rem;
        }
      }
    }
  }

  &__list,
  &__spacer {
    height: 7.4rem;
  }

  &__list {
    display: flex;
    flex-direction: row;
    left: 0;
    list-style: none;
    mask: linear-gradient(to right, rgba(#000, 0) 0, #000 2.5rem);
    overflow-x: overlay;
    overflow-y: hidden;
    padding-left: 2rem;
    position: absolute;
    right: 0;
    scrollbar-width: thin;
    top: 0;

    &::-webkit-scrollbar {
      height: 0.4rem;
      width: 0.4rem;

      &-track {
        margin: 0 2rem;
      }
    }
  }

  &__spacer {
    position: relative;
  }

  &__spinner {
    border-color: $white rgba($black, 0.4) rgba($black, 0.4) $white;
    box-shadow:
      inset 0 0 0 0.1rem rgba($black, 0.4),
      0 0 0 0.1rem rgba($black, 0.4);
    font-size: 3.6rem;
    left: 50%;
    margin: -2.3rem 0 0 -1.8rem;
    position: absolute;
    top: 50%;
  }

  &__title {
    margin-left: 2rem;
  }

  &--is-empty {
    min-width: 74px;
  }
}
