.c-key {
  display: block;
  position: relative;

  &__color {
    border: 0.2rem solid $red-dark;
    border-radius: 1.2rem;
    display: block;
    font-size: 1.1rem;
    font-weight: 700;
    height: 2.4rem;
    line-height: 2.2rem;
    padding: 0 1rem;
    text-transform: uppercase;
  }

  &__label {
    background-color: $red-dark;
    border-radius: 50%;
    bottom: 0;
    color: $white;
    display: block;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.2rem;
    position: absolute;
    right: 0;
    text-align: center;
    transform: translate(20%, 10%);
    width: 1.2rem;
  }

  &--a {
    .c-key__color {
      background-color: swatch(swatch-a);
    }
  }

  &--b {
    .c-key__color {
      background-color: swatch(swatch-b);
    }
  }

  &--c {
    .c-key__color {
      color: swatch(swatch-c);
    }
  }

  &--d {
    .c-key__color {
      background-color: swatch(swatch-d);
    }
  }

  &--e {
    .c-key__color {
      color: swatch(swatch-e);
    }
  }

  &--f {
    .c-key__color {
      color: swatch(swatch-f);
    }
  }
}
