.c-local-reset {
  blockquote {
    border-left: 0.3rem rgba($grey-darkest, 0.3);
    border-left-color: swatch(swatch-e, 0.3);
    padding-left: 2rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  p,
  pre,
  table,
  ul {
    color: $grey-darkest;
    color: swatch(swatch-e);
    line-height: 2.2rem;
    margin-bottom: 1.8rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $purple-med;
    color: swatch(swatch-f);
  }

  img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }

  li,
  p {
    letter-spacing: 0.02em;
    line-height: 1.8;
    word-wrap: break-word;
  }

  li {
    margin-bottom: 0.9rem;
  }

  ol,
  ul {
    margin-left: 3rem;
  }

  ol {
    list-style: decimal;
  }

  p {
    .u-custom__empty-gallery & {
      background-color: rgba($grey-darkest, 0.12);
      background-color: swatch(swatch-e, 0.12);
      height: 1.8rem;

      &:nth-child(5) {
        width: 66.666%;
      }
    }
  }

  pre {
    background-color: rgba($grey-darkest, 0.1);
    background-color: swatch(swatch-e, 0.1);
    border-radius: 3px;
    display: block;
    overflow: auto;
    padding: 0.5rem;
  }

  table {
    table-layout: fixed;
    width: 100%;
  }

  td,
  th {
    border: 1px solid rgba($grey-darkest, 0.2);
    border-color: swatch(swatch-e, 0.2);
    padding: 0.2rem 0.5rem;
    text-align: center;
  }

  th {
    background-color: rgba($grey-darkest, 0.1);
    background-color: swatch(swatch-e, 0.1);
  }

  ul {
    list-style: disc;
  }
}
