::-webkit-scrollbar {
  background-color: transparent;
  height: 0.6rem;
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($black, 0.2);
}

:root {
  scrollbar-color: rgba($black, 0.2) transparent;
  scrollbar-width: thin;
}

.c-scrollbar {
  scrollbar-color: rgba($white, 0.6) transparent;
  scrollbar-width: thin;

  &--light {
    &::-webkit-scrollbar-thumb {
      background-color: rgba($white, 0.6);
    }
  }
}
