.chat-bubbles {
  height: 3.2em;
  width: 3.2em;

  &__back,
  &__front {
    &-fill,
    &-line {
      transition: fill .2s ease;
    }
  }

  &__back {
    &-fill { fill: rgba($grey-med, .6); }
    &-line { fill: $grey-darkest; }

    @at-root .is-active & {
      &-fill { fill: $blue-light; }
      &-line { fill: $blue-darker; }
    }
  }

  &__front {
    &-fill { fill: $grey-lightest; }
    &-line { fill: $grey-darkest; }

    @at-root .is-active & {
      &-fill { fill: $white; }
      &-line { fill: $blue-darker; }
    }

    @at-root .has-notifications & {
      &-fill { fill: $white; }
      &-line { fill: $red-med; }
    }
  }

  &--btn {
    position: relative;
    transform: translateY(.2rem);

    &-ico {
      font-size: .7em;
      position: relative;
      z-index: 1;
    }

    &-label {
      color: $grey-darkest;
      font-size: .9rem;
      left: 1.2rem;
      opacity: .8;
      position: absolute;
      text-align: center;
      text-decoration: none;
      top: 1rem;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }
}
