.c-avatar-part {
  background-color: rgba($black, 0);
  border: 1px solid $purple-dark;
  border-radius: .6rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin: 2.2rem 1rem 1rem;
  padding: 3.5rem 2rem 2rem;
  position: relative;
  text-align: center;
  transition: background-color .16s $curve;
  z-index: 0;

  > * { flex: 0 0 auto; }
  > *:not(.btn-ico-action) { pointer-events: none; }

  &__credit {
    align-items: center;
    display: flex;
    font-family: $roboto-family;
    justify-content: center;
    margin-top: 1rem;
    opacity: .5;
    order: -1;
  }

  &__desc {
    color: $yellow-lighter;
    font-family: $roboto-family;
    font-weight: 500;
    margin-top: .4rem;
    word-wrap: break-word;
  }

  &__item {
    align-items: flex-start;
    display: flex;
    justify-content: center;

    &:not(:first-child) { margin-top: .2ch; }
  }

  &__label {
    font-weight: 700;
    margin-right: .2ch;
    opacity: .8;
    text-align: right;
    text-transform: uppercase;
  }

  &__media {
    align-self: center;
    filter: drop-shadow(0 .6rem 0 rgba($black, .18));
    margin: 0 -2rem;
    order: -2;
    position: relative;
    z-index: 0;

    &::after {
      background-color: rgba($black, .08);
      border-radius: 50%;
      content: '';
      height: 93.5%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 93.5%;
      z-index: -1;
    }
  }

  &__meta {
    font: 1.2rem/1.5 $roboto-family;
    margin-top: 1rem;
  }

  &__palette {
    fill: $white;
    flex: 0 0 auto;
    height: 1.2em;
    margin-right: .4rem;
    width: 1.2em;
  }

  &__rarity {
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
  }

  &__title {
    color: unset;
    font-size: 1.4rem;
    margin-top: 1rem;
    word-wrap: break-word;
  }

  &__val {
    margin-left: .2ch;
    max-width: 100%;
    text-align: left;
    word-wrap: break-word;

    @include clamp(3);
  }

  .btn-ico-action {
    background-color: $white;
    border: 1px solid $grey-darkest;
    border-bottom-width: 2px;
    border-top-right-radius: 4px;
    color: $grey-darkest;
    fill: $grey-darkest;
    height: 2.2rem;
    opacity: 0;
    padding: 0 .4rem 0 1.4rem;
    position: absolute;
    right: -.2rem;
    top: -.2rem;
    z-index: 1;

    &:hover,
    &.is-added {
      background-color: $purple-med;
      color: $white;
      fill: $white;
      opacity: 1;
    }

    &.is-added:hover { background-color: $purple-dark; }

    .c-spinner--sml {
      border-width: 2px;
      margin: .2rem;
    }
  }

  &:hover {
    background-color: rgba($black, .18);

    .btn-ico-action { opacity: 1; }
    .c-avatar-part__rarity { background-color: $purple-dark; }
  }

  &.is-active {
    border-color: $white;

    .c-avatar-part__rarity {
      background-color: $white;
      border-color: $white;
      color: $purple-dark;
    }
  }
}
