.c-bubble {
  align-self: baseline;
  background-color: rgba($purple-med, .1);
  border-radius: .8rem;
  color: $purple-med;
  display: inline-block;
  flex: 0 0 auto;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.6rem;
  margin-left: 1rem;
  padding: 0 .8rem;
}
