.c-ctrls {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;

  &__act { display: block; }

  &__ctrl {
    flex: 0 0 auto;
    margin: 0 .4rem .4rem 0;

    &:first-of-type { margin-left: 0; }

    &:last-of-type { margin-right: 0; }

    &.is-isolated { flex: 1; }
    &.is-last { margin-left: auto; }
  }

  &__link {
    color: $purple-med;
    font-size: 1.2rem;
  }
}
