// Form Defaults
input,
select,
textarea {
  -moz-appearance: none;
  appearance: none;
  font-size: 1.4rem;

  &::placeholder { color: $grey-med; }
  &.has-error::placeholder { color: $red-med; }

  &:focus {
    outline: none;

    &::placeholder { color: transparent; }
  }
}

input,
select {
  background-color: $white;
  border: 1px solid $grey-med;
  border-radius: 3px;
  color: $grey-darker;
  display: block;
  height: 4.8rem;
  line-height: 2.4rem;
  padding: 1.2rem 1.6rem;
  width: 100%;

  &:focus { border-color: $grey-dark; }

  &.has-error {
    background-color: $red-lightest;
    border-color: $red-dark;
    color: $red-med;

    &:focus {
      background-color: $white;
      color: $grey-dark;
    }
  }
}

input::-ms-clear { display: none; }

input[type='file'] {
  display: flex;
  font-size: 1.2rem;
}

select {
  --arrow-color: #444;

  background-image:
    linear-gradient(45deg, var(--arrow-color) 45%, transparent 55%, transparent),
    linear-gradient(130deg, transparent 45%, var(--arrow-color) 55%, var(--arrow-color)),
    linear-gradient(130deg, var(--arrow-color) 45%, transparent 55%, transparent),
    linear-gradient(45deg, transparent 45%, var(--arrow-color) 55%, var(--arrow-color));
  background-position:
    calc(100% - 12px) calc(50% - 4px),
    calc(100% - 17px) calc(50% - 4px),
    calc(100% - 12px) calc(50% + 3px),
    calc(100% - 17px) calc(50% + 3px);
  background-repeat: no-repeat;
  background-size: 5px 5px;
  cursor: pointer;

  option:disabled { color: $grey-med; }
}

textarea {
  background-color: $white;
  border: 1px solid $grey-med;
  border-radius: 3px;
  padding: 1.2rem 1.6rem;
  resize: vertical;
  width: 100%;

  &.is-auto-sized { resize: none; }
}

.c-form-drop {
  &__action {
    align-items: baseline;
    background: transparent;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: .5rem;
    text-align: left;
    transition:
      background-color .16s $curve,
      box-shadow .16s $curve;
    width: 100%;

    &:focus,
    &:hover {
      background-color: rgba($black, .03);
      box-shadow: inset 0 0 0 1px rgba($black, .08);

      .c-facet-list__name { color: $purple-med; }
    }
  }

  &__arrow {
    border-color: $grey-darkest transparent transparent;
    border-style: solid;
    border-width: .5rem .5rem 0;
    opacity: .4;
    pointer-events: none;
    position: absolute;
    right: 1.2rem;
    top: 2.3rem;
    transform: translate(-50%, -50%);

    .is-focused > & {
      transform:
        translate(-50%, -50%)
        rotate(.5turn);
    }
  }

  &__box {
    display: none;
    flex-direction: column;
    left: -1px;
    max-height: calc(100vh - 6rem);
    padding-bottom: 1rem;
    position: absolute;
    right: -1px;
    top: 100%;
    z-index: 1;

    .is-focused > & { display: flex; }
  }

  &__desc,
  &__name,
  &__sub {
    display: block;
    opacity: .6;
  }

  &__grp {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 0 3.5rem 0 1.6rem;
    position: relative;

    &.is-disabled { pointer-events: none; }

    &.is-focused {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__input {
    border: none;
    flex: 1 1 25%;
    height: 4.6rem;
    max-width: 100%;
    padding: 0;
  }

  &__list {
    background-color: $white;
    border: 1px solid $grey-med;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-color: rgba($grey-dark, .12);
    box-shadow: 0 .3rem 0 rgba($black, .2);
    display: grid;
    flex: 1 1 100%;
    font-size: 1.2rem;
    grid-gap: 1rem;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    line-height: 1.4;
    max-height: 30rem;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-y: overlay;
    padding: 1.5rem;
  }

  &__loading {
    align-items: center;
    display: flex;
    font-size: 1.4rem;
    left: 1.6rem;
    opacity: .5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__name {
    margin: .3rem 0 .4rem;
    opacity: 1;
  }

  &__remove {
    align-items: center;
    background-color: rgba($black, .08);
    border-radius: 3px;
    display: flex;
    flex: 0 0 auto;
    height: 3rem;
    margin: .8rem .5rem .8rem 0;
    max-width: 100%;
    padding: 0 .5rem 0 1rem;
    transition: background-color .16s $curve;

    &:hover { background-color: rgba($black, .12); }

    &-x {
      border-radius: 50%;
      display: block;
      flex: 0 0 auto;
      font-weight: 700;
      line-height: 1.8rem;
      margin-left: .5rem;
      opacity: .16;
      transition:
        color .16s $curve,
        opacity .16s $curve;
      width: 1.8rem;

      :hover > & {
        color: $purple-med;
        opacity: 1;
      }
    }
  }

  &__sub {
    font: normal 1rem/1 $roboto-cond-family;
    text-transform: uppercase;
  }
}
