.c-generated-keys {
  display: block;
  padding: 0;

  &__csv {
    color: $purple-med;
    font-size: 1rem;
    font-weight: 700;
    margin-left: auto;
    text-decoration: none;

    &:hover { text-decoration: underline; }

    &-ico {
      border-radius: 3px;
      display: inline-block;
      fill: $purple-med;
      height: 1.2em;
      margin-right: .5ch;
      transform: translateY(.2em);
      width: 1.2em;
    }
  }

  &__expires {
    background-color: $grey-light;
    border-radius: .9em;
    color: $grey-darkest;
    display: inline-block;
    flex: 0 0 auto;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.8em;
    margin-left: 1rem;
    padding: 0 1ch;
    text-transform: uppercase;

    .is-expired > & { opacity: .5; }
  }

  &__group {
    align-items: center;
    border-top: 1px solid $white;
    display: flex;
    padding: 1rem 1.5rem;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 1rem 1.5rem;
  }

  &__info {
    .is-expired > & { color: $grey-dark; }
  }

  &__meta {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-gap: 0 1rem;
    grid-template-rows: repeat(2, min-content);

    &-label {
      color: $grey-dark;
      font-size: 1.1rem;
      grid-row-start: 1;
      text-transform: uppercase;
    }
  }

  &__title { color: $purple-med; }
}
