.c-list-item {
  background-color: rgba($grey-light, .3);
  border: 1px solid $grey-light;
  border-radius: 3px;
  padding: 1.2rem 4.5rem 1.2rem 1.5rem;
  position: relative;

  &:not(:first-child) { margin-top: 1rem; }

  &__remove {
    background-color: $grey-med;
    border-radius: 50%;
    color: $white;
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    height: 2rem;
    line-height: 2rem;
    position: absolute;
    right: 1.5rem;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .16s $curve;
    width: 2rem;

    &:hover { background-color: $purple-med; }
  }

  .c-list--inlined & {
    float: left;
    margin: 0 .5rem .5rem 0;

    &:last-child::after {
      clear: both;
      content: '';
      display: block;
    }
  }
}
