.c-pixel-banner {
  align-items: center;
  color: $grey-darkest;
  display: flex;
  fill: $grey-darkest;
  font-size: 1.1rem;
  font-weight: 700;
  height: 2em;
  line-height: 2em;
  max-width: 100%;
  opacity: .66;
  padding: 0 1.818em 0 .909em;
  position: relative;
  text-decoration: none;
  transition: opacity .16s $curve;
  z-index: 0;

  &::after {
    background-color: $white;
    bottom: 0;
    content: '';
    display: block;
    left: .9em;
    position: absolute;
    right: .9em;
    top: 0;
    transition: background-color .16s $curve;
    z-index: -1;
  }

  &__ico {
    display: block;
    fill: inherit;
    height: 1.364em;
    width: 1.637em;
  }

  &__left-svg,
  &__right-svg {
    display: block;
    fill: $white;
    flex: 0 0 auto;
    height: 2em;
    position: absolute;
    top: 0;
    transition: fill .16s $curve;
    width: 2em;
    z-index: -1;
  }

  &__left-svg { left: 0; }
  &__right-svg { right: 0; }

  &__label {
    font-size: .82em;
    font-weight: 500;
    margin-left: .6ch;
    text-transform: uppercase;
  }

  &__name {
    display: block;
    flex: 1;
    margin-left: .8ch;
  }

  &:hover { opacity: 1; }
}
