.c-review {
  background-color: rgba($grey-darkest, .08);
  background-color: swatch(swatch-e, .08);
  border-radius: .6rem;
  position: relative;

  &__reply-ico {
    display: none;
    fill: rgba($grey-darkest, .12);
    fill: swatch(swatch-e, .12);
    height: 2rem;
    left: 0;
    position: absolute;
    top: -1rem;
    width: 2.7rem;

    @supports (mask-repeat: no-repeat) or (-webkit-repeat: no-repeat) {
      display: block;
    }
  }

  &--reply {
    background-color: transparent;
    border-width: 0;
    margin: 3.2rem 0 2rem;
  }
}

.c-review-body {
  padding: 2rem;

  &__prerelease {
    background-color: rgba($grey-darkest, .12);
    background-color: swatch(swatch-e, .12);
    border-radius: 0 0 3px 3px;
    display: inline-block;
    font: 500 1.2rem/2 $roboto-family;
    padding: 0 1rem;
    transform: translateY(-2rem);
  }

  &__edited {
    background-color: rgba($grey-darkest, .06);
    background-color: swatch(swatch-e, .06);
    border-radius: 1em;
    color: rgba($grey-darkest, .54);
    color: swatch(swatch-e, .54);
    display: inline-block;
    font: 500 1.2rem/2 $roboto-family;
    margin-top: 2.5rem;
    padding: 0 2rem;
  }

  &__txt {
    white-space: pre-line;
    word-wrap: break-word;
  }

  .c-review--reply & {
    border: 1px solid rgba($grey-darkest, .12);
    border-bottom-width: 0;
    border-color: swatch(swatch-e, .12);
    border-top-width: 0;
  }
}

.c-review-footer {
  align-items: flex-start;
  border-bottom-left-radius: .6rem;
  border-bottom-right-radius: .6rem;
  border-top: 1px solid rgba($grey-darkest, .12);
  border-top-color: swatch(swatch-e, .12);
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 1rem;

  &__actions {
    align-items: center;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }

  &__action { margin: 0 1rem 1rem 0; }

  &__liked {
    font: italic 1.2rem/1.4 $roboto-family;
    margin-bottom: 1rem;
    opacity: .54;
  }

  &__report {
    background-color: transparent;
    font: 1.2rem/2.167 $roboto-family;
    margin-left: 2rem;
    opacity: .54;
    transition: opacity .16s $curve;

    &-ico {
      fill: $grey-darkest;
      fill: swatch(swatch-e);
      height: 1em;
      margin-right: .05em;
      transform: translateY(.2em);
      width: 1.167em;
    }

    &-tooltip {
      right: 0;
      top: calc(100% + .5rem);
    }

    &-txt { text-decoration: underline; }

    &:hover { opacity: 1; }
  }

  .c-review--reply & {
    border: 1px solid rgba($grey-darkest, .12);
    border-color: swatch(swatch-e, .12);
    border-top-width: 0;
    padding-top: 0;
  }
}

.c-review-header {
  align-items: start;
  border-bottom: 1px solid rgba($grey-darkest, .12);
  border-bottom-color: swatch(swatch-e, .12);
  border-top-left-radius: .6rem;
  border-top-right-radius: .6rem;
  display: grid;
  grid-template:
    'avatar . .' auto
    'avatar name rating' auto
    'avatar stats rating' auto
    'avatar . .' auto
    / auto 1fr auto;
  line-height: 1.4;
  padding: 2rem;

  @supports (mask-repeat: no-repeat) or (-webkit-repeat: no-repeat) {
    mask-image:
      linear-gradient(to right, transparent 3.5rem, #000 3.5rem),
      linear-gradient(to bottom, transparent .5rem, #000 .5rem);
  }

  &__avatar {
    grid-area: avatar;
    margin-right: 1rem;
  }

  &__rating {
    align-items: baseline;
    background-color: rgba($grey-darkest, .33);
    background-color: swatch(swatch-e, .33);
    border-radius: 3px;
    color: rgba($grey-darkest, .54);
    color: swatch(swatch-e, .54);
    display: flex;
    grid-area: rating;
    margin-left: 1rem;
    padding: .6rem 1.2rem .6rem .6rem;

    > * {
      display: block;
      flex: 0 0 auto;
    }

    &-base {
      font-size: 1.2rem;
      line-height: 1.2;
    }

    &-val {
      color: $grey-darkest;
      color: swatch(swatch-e);
      font-size: 1.2rem;
      line-height: 1.2;
    }

    &-star {
      fill: $grey-darkest;
      fill: swatch(swatch-e);
      height: 1.2rem;
      margin-right: .5rem;
      transform: translateY(5%);
      width: 1.2rem;
    }
  }

  &__stats {
    font: 1.2rem/1.2 $roboto-family;
    grid-area: stats;
    opacity: .54;
  }

  &__stat {
    display: inline-block;

    &:not(:last-child)::after {
      content: '—';
      margin: 0 .4ch;
    }
  }

  &__username {
    align-items: center;
    color: inherit;
    display: flex;
    grid-area: name;
    min-width: 0;

    &-txt { flex: 0 1 auto; }

    .u-dev,
    .u-lvl {
      background-color: $grey-darkest;
      background-color: swatch(swatch-e);
      color: $white;
      color: swatch(swatch-d);
      flex: 0 0 auto;
      font-size: 1rem;
      margin-left: .5rem;
      transform: translateY(.1em);
    }
  }

  .c-review--reply & {
    border: 1px solid rgba($grey-darkest, .12);
    border-bottom-width: 0;
    border-color: swatch(swatch-e, .12);
    padding-bottom: 0;
  }
}

.c-review-reply {
  border-top: 1px solid rgba($grey-darkest, .12);
  border-top-color: swatch(swatch-e, .12);
  padding: 2rem 2rem 1rem;

  &__cancel {
    color: inherit;
    font: 1.2rem/2 $roboto-family;
    margin-left: 1rem;
    opacity: .66;
    transition: opacity .16s $curve;

    &:hover {
      color: inherit;
      opacity: 1;
    }
  }

  &__ctrls { margin-top: 2rem; }

  & + .c-review-footer { display: none; }
}

.c-review-traits {
  margin-bottom: 2rem;

  &__label {
    font-weight: 700;
    margin-bottom: 1rem;
    opacity: .54;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.6rem;
  }

  &__item {
    border: 1px solid rgba($grey-darkest, .18);
    border-color: swatch(swatch-e, .18);
    border-radius: 1.2rem;
    display: block;
    flex: 0 0 auto;
    margin: 0 .4rem .4rem 0;
    max-width: 100%;
    padding: .2rem 1.2rem;
  }
}

@media (min-width: 440px) {
  .c-review-body {
    &__txt { font-size: 1.4rem; }
  }

  .c-review-header {
    &__rating {
      padding-left: 1rem;
      padding-right: 1.5rem;

      &-star {
        height: 1.8rem;
        width: 1.8rem;
      }

      &-val { font-size: 1.8rem; }
    }
  }
}
