.c-sale-note {
  background-color: $grey-lightest;
  border-radius: 3px;
  display: grid;
  grid-gap: .5ch 1ch;
  grid-template:
    'title . dates' auto
    'pricing . dates' auto
    / auto 1fr auto auto;
  margin-top: 1rem;
  padding: 1rem 1.5rem;

  &__dates {
    display: grid;
    grid-area: dates;
    grid-gap: .5ch 1ch;
    grid-template-columns: auto 1fr;
  }

  &__end,
  &__start {
    &-label { color: $grey-dark; }
  }

  &__price {
    display: block;
    grid-area: pricing;
    white-space: nowrap;

    &-percent,
    &-sale { text-decoration: none; }

    &-sale {
      border-left: 1px solid $grey-light;
      border-right: 1px solid $grey-light;
      margin: 0 .5ch;
      padding: 0 1ch;
    }
  }

  &__title { color: $purple-med; }
}
