.c-table {
  text-align: left;
  width: 100%;

  tbody {
    border-bottom: 1px solid rgba($black, .05);
    border-top: 1px solid rgba($black, .05);
  }

  td,
  th {
    min-width: 10rem;
    padding: .75rem 0 .75rem 2rem;

    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
  }

  th {
    font-weight: 700;
    padding-bottom: 2rem;
    padding-top: 0;
    white-space: nowrap;
  }

  tr:first-child td { padding-top: 2rem; }
  tr:last-child td { padding-bottom: 2rem; }
}

.c-table-actions {
  font-size: 0;
  white-space: nowrap;
}

.c-table-action {
  transform: translateY(-.25rem);

  &:not(:first-child) { margin-left: 1rem; }
}

.c-table-form {
  background-color: rgba($white, .12);
  border: 1px solid rgba($black, .05);
  border-radius: 3px;
  padding: 2rem;

  &__footer {
    border-top: 1px solid rgba($black, .05);
    display: flex;
    grid-area: footer;
    justify-content: space-between;
    margin: 0 -2rem;
    padding: 2rem 2rem 0;
  }

  &__header {
    border-bottom: 1px solid rgba($black, .05);
    grid-area: header;
    margin: 0 -2rem 2.5rem;
    padding: 0 2rem 2rem;

    h2 {
      color: #222;
      font-size: 1.8rem;
      font-weight: 500;
      text-transform: none;
      word-wrap: break-word;
    }
  }

  .c-form__group { margin-bottom: 2.5rem; }
}

.c-table-main { width: 100%; }
