.gp-actions {
  display: grid;
  grid-gap: 2rem 1rem;
  grid-template-columns: repeat(3, min-content);
  margin-top: 4rem;
}

.gp-achievements {
  &__ico {
    height: 7.4rem;
    width: 5.8rem;
  }

  &__list {
    .c-achievement {
      margin-bottom: .5rem;
      padding: 2rem 2rem 2rem 9.2rem;

      &__badge {
        left: 2rem;
        top: 2rem;
      }
    }
  }
}

.gp-body {
  background-color: rgba($white, .8);
  background-color: swatch(swatch-d, .8);
  box-shadow:
    0 0 1px rgba($black, .2),
    0 0 0 2px rgba($purple-med, .3);
  box-shadow:
    0 0 1px var(--tabs-border),
    0 0 0 2px swatch(swatch-b, .3);
  color: $grey-darkest;
  color: swatch(swatch-e);

  &__dev-avatar {
    border-radius: 3px;
    display: block;
    height: 3.2rem;
    width: 3.2rem;
  }

  &__notice { margin: -5.8rem -3rem 6.2rem; }

  .c-feat-pg__tab-media {
    fill: $purple-med;
    fill: swatch(swatch-f);
  }

  .c-pagination__link {
    background-color: rgba($grey-darkest, .33);
    background-color: swatch(swatch-e, .33);
    box-shadow: inset 0 -.2rem 0 rgba($grey-darkest, .33);
    box-shadow: inset 0 -.2rem 0 swatch(swatch-e, .33);
    color: $grey-darkest;
    color: swatch(swatch-e);
  }

  .c-tabs__link { height: 9.3em; }
}

.gp-buy {
  font-size: .8rem;
  justify-self: start;
  transition: opacity .24s $curve;

  &:hover { z-index: 2; }

  .is-viewing-bg & { opacity: 0; }

  &__subtag {
    background-color: $red-dark;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: $white;
    display: block;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: -2px;
    padding: .67em;
    pointer-events: all;
    text-align: center;
    text-decoration: none;
    transition: color .3s $curve;

    &:hover { color: $red-lightest; }

    &-item {
      background-color: rgba($black, .18);
      border-radius: 1rem;
      margin-left: .5ch;
      max-width: 12rem;
      min-width: 0;
      padding: 0 .8rem;
      text-decoration: none;
      transition: background-color .16s $curve;
      vertical-align: middle;

      &[href]:hover { background-color: rgba($black, .32); }
    }

    &-link { text-decoration: underline; }

    &-tooltip {
      left: 0;
      text-align: left;
      top: calc(100% + .5rem);
      width: 100%;
    }
  }
}

.gp-buy-btn,
.gp-chat {
  cursor: pointer;
  display: flex;

  &.c-tooltip__trigger { z-index: 2; }
}

.gp-buy-btn {
  flex-wrap: nowrap;
  font-size: 1.5em;

  &__msrp {
    font-size: .867em;
    font-style: normal;
    margin-left: .5ch;
  }

  &__tooltip {
    font-size: 1.4rem;
    top: calc(100% + 1rem);
  }

  &.has-note { flex-direction: column; }
  .btn__tag { transform: translateX(2em); }
}

.gp-chat {
  font-size: 1.2rem;
  grid-column: 1;

  .is-viewing-bg & { opacity: 0; }
}

.gp-ctrls {
  flex: 0 0 auto;
  margin-top: auto;
  padding-top: 2.6rem;
}

.gp-dashboard {
  background-color: rgba($grey-darkest, .08);
  background-color: swatch(swatch-e, .08);
  border-radius: .6rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  padding: 2rem 0 0 2rem;
}

.gp-dashboard-aspect {
  display: flex;
  flex: 1 0 auto;
  max-width: 100%;
  min-width: 50%;
  padding: 0 2rem 2rem 0;

  &__average {
    color: $purple-med;
    color: swatch(swatch-f);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1em;
  }

  &__detail {
    color: rgba($grey-darkest, .54);
    color: swatch(swatch-e, .54);
    display: block;
    font: 1.2rem/1.67 $roboto-family;
  }

  &__icon {
    fill: $purple-med;
    fill: swatch(swatch-f);
    height: 3.4rem;
    width: 3.4rem;
  }

  &__info {
    border: 1px solid rgba($grey-darkest, .08);
    border-bottom-right-radius: .6rem;
    border-color: swatch(swatch-e, .08);
    border-top-right-radius: .6rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 1rem 1.5rem;
  }

  &__label {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__range {
    font-size: 1.2rem;
    font-weight: 700;
    opacity: .32;

    &::before {
      content: '/';
      margin: 0 -.25ch;
      opacity: .24;
    }
  }

  &__val {
    align-items: center;
    background-color: rgba($grey-darkest, .1);
    background-color: swatch(swatch-e, .1);
    border-bottom-left-radius: .6rem;
    border-top-left-radius: .6rem;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    padding: 1rem 1.5rem;
  }

  &--rating {
    flex-direction: column;

    .gp-dashboard-aspect__icon {
      fill: $grey-darkest;
      fill: swatch(swatch-e);
      height: 2.8rem;
      margin-right: .8rem;
      transform: translateY(-.2rem);
      width: 2.8rem;
    }

    .gp-dashboard-aspect__info {
      background-color: rgba($grey-darkest, .1);
      background-color: swatch(swatch-e, .1);
      border-bottom-left-radius: .6rem;
      border-color: transparent;
      border-top-right-radius: 0;
      padding-top: 0;
      text-align: center;
    }

    .gp-dashboard-aspect__range {
      font-size: 3rem;
      font-weight: 400;
      line-height: 1em;
      margin-bottom: .1rem;
      margin-left: 1rem;
      opacity: .66;
    }

    .gp-dashboard-aspect__val {
      border-bottom-left-radius: 0;
      border-top-right-radius: .6rem;
      padding-bottom: 0;
      padding-top: 1.4rem;
    }
  }
}

.gp-copy-count {
  align-items: center;
  background-color: rgba($black, .48);
  border-radius: 3px;
  color: $white;
  display: flex;
  grid-column: 1;
  grid-row: 2;
  margin-bottom: 2rem;
  min-width: 24rem;
  padding: .5rem;

  &__label {
    flex: 0 0 auto;
    font-size: 1.2rem;
    line-height: 1.17;
    margin: .1rem 1rem 0 .6rem;
    text-transform: uppercase;

    strong { display: block; }
  }

  &__nums {
    align-items: baseline;
    background-color: rgba($black, .54);
    border-radius: 3px;
    display: flex;
    flex: 1;
    justify-content: center;
    line-height: 3.6rem;
    padding: 0 1rem;
  }

  &__remain {
    flex: 0 0 auto;
    font-size: 1.8rem;
  }

  &__total {
    flex: 0 0 auto;
    font-size: 1.4rem;

    &::before {
      content: '/';
      float: left;
      margin: 0 .1em;
    }
  }
}

.gp-ctrls {
  flex: 0 0 auto;
  margin-top: auto;
  padding-top: 2.6rem;
}

.gp-dashboard-traits {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  padding: 0 1.8rem 1.8rem 0;

  &__label {
    flex: 1 1 100%;
    font-weight: 700;
    margin: 0 .2rem 1rem 0;
    opacity: .54;
  }

  &__item {
    border: 1px solid rgba($grey-darkest, .18);
    border-color: swatch(swatch-e, .18);
    border-radius: 1.2rem;
    display: inline-block;
    flex: 0 0 auto;
    margin: 0 .2rem .2rem 0;
    padding: .2rem 1.2rem;
  }
}

.gp-dev {
  &__bio {
    line-height: 1.57;
    margin-top: 1rem;
  }

  &__games {
    padding: 1.5rem 1rem;

    &-cont {
      background-color: rgba($white, .66);
      border-radius: 3px;
      color: $black;
      margin-top: 3rem;
      padding-top: 2.1rem;
    }

    &-title {
      align-self: center;
      color: $grey-darkest;
      margin: 0 2rem;
    }

    .c-listing {
      float: left;
      margin-bottom: 0;
      width: 50%;

      @supports (display: grid) {
        float: none;
        width: 100%;
      }

      &:nth-child(odd) { clear: left; }

      &__dev { display: none; }

      &__tags { margin-top: .7rem; }
    }

    .c-tag {
      background-color: rgba($black, .3);
      color: $white;

      &--feat { background-color: rgba($black, .6); }
    }
  }

  &__header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }

  &__private {
    font-weight: 700;
    text-align: center;
  }

  &__title {
    align-items: center;
    color: $purple-med;
    color: swatch(swatch-f);
    flex: 1;
    font-size: 1.8rem;
    margin-right: 2rem;
    margin-top: .2rem;
  }
}

.gp-dev-notice {
  background-image: linear-gradient(to bottom, rgba($grey-darkest, .12), rgba($grey-darkest, 0));
  background-image: linear-gradient(to bottom, swatch(swatch-e, .12), swatch(swatch-e, 0));
  border: 1px solid rgba($grey-darkest, .08);
  border-color: swatch(swatch-e, .08);
  border-radius: 3px;
  line-height: 1.85;
  margin-top: 3rem;
  padding: 2.5rem 3rem 3rem;
  text-align: center;

  &__btn {
    margin-top: 2rem;
    padding: .5rem 2.2rem .7rem;
    text-transform: none;
  }

  &__title {
    color: $purple-med;
    color: swatch(swatch-f);
    font-size: 1.5rem;
    text-transform: none;
  }
}

.gp-dlc {
  border-bottom: 1px solid rgba($grey-darkest, .24);
  border-bottom-color: swatch(swatch-e, .24);
  padding-bottom: 2rem;
}

.gp-dlc-list {
  .c-wide-listing:not(:first-child) { margin-top: .5rem; }
}

.gp-dlc-toggle {
  background-color: $grey-darkest;
  background-color: swatch(swatch-e);
  border-radius: 1rem;
  color: $white;
  color: swatch(swatch-d);
  display: block;
  font: 1.1rem/1.9rem $roboto-cond-family;
  margin: 2rem auto 0;
  opacity: .66;
  padding: .1rem 1rem 0;
  transition: opacity .16s $curve;

  &:hover { opacity: 1; }
}

.gp-friends {
  color: $blue-med;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 300;
  line-height: 1.2em;
}

.gp-ico {
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  height: 1.3em;
  position: relative;
  width: 1.6em;

  video {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.gp-main {
  background-color: $white;
  background-color: swatch(swatch-d);
  flex: 1;

  &,
  .c-feat-pg__sections {
    scrollbar-color: rgba($grey-darkest, .72) rgba($black, .42);
    scrollbar-color: swatch(swatch-e, .72) swatch(tabs-bg, .42);
    scrollbar-width: thin;

    &::-webkit-scrollbar-thumb {
      background-color: rgba($grey-darkest, .72);
      background-color: swatch(swatch-e, .72);
    }

    &::-webkit-scrollbar-track {
      background-color: rgba($black, .42);
      background-color: swatch(tabs-bg, .42);
    }
  }
}

.gp-meta {
  align-items: flex-start;
  display: flex;
  margin-top: 1.5rem;
  transition: opacity .24s $curve;

  &:hover { z-index: 2; }
  .is-viewing-bg & { opacity: 0; }
}

.gp-media {
  &__artwork { margin-bottom: 1.4rem; }

  &__img {
    display: block;
    height: auto;
    width: 100%;
  }

  &__text {
    margin-bottom: 2.5rem;

    .is-app & {
      a[href] {
        &::after {
          background-color: $white;
          border-bottom: .5rem solid $white;
          border-radius: .3rem .3rem 0 0;
          box-shadow: 0 0 0 1px $grey-med;
          color: $grey-darkest;
          content: attr(href);
          font-size: 1rem;
          left: 50%;
          line-height: 1.4;
          max-width: 50vw;
          padding: .5rem 1rem 0;
          pointer-events: none;
          position: fixed;
          top: 100vh;
          transform: translateX(calc(-50% - 116px));
          transition:
            visibility .1s ease,
            right .3s $curve,
            transform .1s ease;
          visibility: hidden;
          z-index: 1;

          @include clamp(2);

          .has-app-sidebar & { right: auto; }
        }

        &:hover {
          &::after {
            transform: translate3d(calc(-50% - 116px), -100%, 0);
            transition-delay: .6s;
            visibility: visible;
          }
        }
      }
    }
  }

  &__trailer {
    background-color: rgba($grey-darkest, .12);
    background-color: swatch(swatch-e, .12);
    height: 0;
    margin-bottom: 2.5rem;
    padding-bottom: 56.25%;
    position: relative;

    & > * {
      bottom: 0;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      width: 100%;
    }
  }
}

.gp-notices {
  margin: 0 auto 2.5rem;
}

.gp-notice {
  background-color: swatch(swatch-e, .12);
  border-radius: 1.5rem;
  padding: .5rem 1rem;
  text-align: center;

  &:not(:first-child) { margin-top: .5rem; }
}

.gp-early-access {
  background-color: rgba($grey-darkest, .1);
  background-color: swatch(swatch-e, .12);
  border: 1px solid rgba($grey-darkest, .12);
  border-color: swatch(swatch-e, .12);
  border-radius: 3px;
  line-height: 1.79;
  padding: 0 2rem 2rem;
  text-align: center;

  &__cta {
    margin-top: 1.5rem;

    strong { display: block; }
  }

  &__title {
    border-bottom: 1px solid rgba($grey-darkest, .24);
    border-bottom-color: swatch(swatch-e, .24);
    color: $purple-med;
    color: swatch(swatch-f);
    font-size: 1.29em;
    line-height: 1.4;
    margin: 0 -2rem 2rem;
    padding: 1.4rem 2rem;
    text-transform: none;
  }
}

.gp-name {
  align-items: flex-start;
  color: $white;
  color: swatch(swatch-c);
  display: flex;
  flex-direction: column;
  font-size: 3.2rem;
  font-weight: 500;
  hyphens: auto;
  line-height: 1.1em;
  min-width: 0;
  padding-right: 4rem;
  word-break: break-word;
}

.gp-name-subtxt {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  margin-bottom: .4rem;

  a:not(:hover) { text-decoration: none; }
}

.gp-name-txt {
  display: block;
  width: 100%;
  word-wrap: break-word;
}

.gp-no-reviews {
  &__header {
    background-color: rgba($grey-darkest, .08);
    background-color: swatch(swatch-e, .08);
    border-radius: 3px;
    margin-bottom: 2rem;
    padding: 2rem;
    text-align: center;

    h2 {
      color: inherit;
      font-size: 1.6rem;
      margin-bottom: .4rem;
      text-transform: none;
    }

    p { opacity: .72; }
  }
}

.gp-platforms {
  font-size: 1.8rem;
  margin-right: 1.5rem;

  &:not(:first-child) { margin-left: .7rem; }

  .c-platform-ico {
    display: block;
    fill: $white;
    fill: swatch(swatch-c);
  }
}

.gp-rating {
  color: $grey-darkest;
  color: swatch(swatch-e);
  flex: 1;

  .c-rating__all {
    align-items: center;
    display: flex;
    justify-content: center;

    &.is-under-judgement {
      flex-flow: column nowrap;
      height: 1.2em;
      margin-bottom: -.2em;

      .c-rating__all-star {
        fill: $grey-darkest;
        fill: swatch(swatch-e);
        flex: 0 0 auto;
        margin-bottom: 0;
        margin-left: 0;
        stroke-width: 0;
      }

      .c-rating__tooltip {
        background-color: transparent;
        border-width: 0;
        box-shadow: none;
        color: inherit;
        font-size: .24em;
        font-weight: 300;
        margin-top: .6em;
        opacity: .7;
        order: 2;
        padding: 0;
        position: static;
        text-transform: none;
        transform: none;
        white-space: normal;
      }
    }
  }

  .c-rating__all-star {
    fill: $grey-darkest;
    fill: swatch(swatch-e);
    height: .8em;
    margin-bottom: .15em;
    margin-right: .14em;
    transform: none;
    width: .85em;
  }

  .c-rating__rating {
    color: $purple-med;
    color: swatch(swatch-f);
    font-size: .7em;
    font-weight: 500;
  }

  .c-rating__count { display: none; }
}

.gp-rating-pickle {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;

  &__edit {
    grid-area: button;
    min-width: 8rem;
  }

  &__labels {
    color: rgba($grey-darkest, .54);
    color: swatch(swatch-e, .54);
    display: flex;
    font: 1.2rem/1.67 $roboto-family;
    justify-content: space-between;
    margin-top: .3rem;
    max-width: 28rem;
    width: 100%;
  }

  &__stars {
    background-color: rgba($purple-med, .12);
    background-color: swatch(swatch-f, .12);
    border-radius: .6rem;
    padding: 1rem 1.5rem;
  }

  &__title {
    color: inherit;
    font-size: 1.6rem;
    margin-bottom: .6rem;
    text-transform: none;
  }

  .c-rating-ctrl {
    --starColorDefault: transparent;
    --starColorActive: #{swatch(swatch-f)};
    --starStrokeColor: #{swatch(swatch-f)};
    --starStrokeWidth: .4rem;
  }

  &--editable {
    background-color: rgba($grey-darkest, .08);
    background-color: swatch(swatch-e, .08);
    border-radius: .6rem;
    display: grid;
    grid-template:
      'label button' auto
      'rating button' auto
      /1fr min-content;
    padding: 2rem;

    strong {
      grid-area: label;
      opacity: .54;
    }

    .c-rating-ctrl {
      --starColorDefault: transparent;
      --starColorActive: #{swatch(swatch-e)};
      --starStrokeColor: #{swatch(swatch-e)};
      --starStrokeWidth: .6rem;

      grid-area: rating;
      margin-top: 1rem;
      max-width: 12rem;
      pointer-events: none;
    }

    .c-rating-ctrl__btn { padding: 0 .2rem; }
  }
}

.gp-review {
  &:not(:first-child) { margin-top: 1rem; }
}

.gp-reviews {
  &__pagination { margin-top: 2rem; }
  &--loading { display: flex; }
}

.gp-reviews-placers {
  mask: linear-gradient(to bottom, #000 50%, transparent);
}

.gp-reviews-placer {
  background-color: rgba($grey-darkest, .08);
  background-color: swatch(swatch-e, .08);
  border-radius: 3px;
  margin-bottom: .5rem;
  padding-bottom: 16rem;

  &__avatar {
    background-color: rgba($grey-darkest, .16);
    background-color: swatch(swatch-e, .16);
    border-radius: 3px;
    display: block;
    height: 3.8rem;
    width: 3.8rem;
  }

  &__header {
    border-bottom: 1px solid rgba($grey-darkest, .08);
    border-bottom-color: swatch(swatch-e, .08);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }

  &__review {
    background-color: rgba($grey-darkest, .16);
    background-color: swatch(swatch-e, .16);
    border-radius: 3px;
    display: block;
    height: 3.8rem;
    width: 7.2rem;
  }
}

.gp-reviews-sort {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 4rem;
  margin-bottom: 2rem;

  * > { flex: 0 0 auto; }

  &__ctrls {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  &__ctrl {
    background-color: transparent;
    border-radius: .6rem;
    box-shadow: inset 0 0 0 1px rgba($grey-darkest, .2);
    box-shadow: inset 0 0 0 1px swatch(swatch-e, .2);
    display: block;
    flex: 1 1 100%;
    margin: 0 0 .4rem;
    min-width: 13.2rem;
    padding: 0 1.2rem;
    text-align: center;
    text-decoration: none;
    transition:
      background-color .16s $curve,
      box-shadow .16s $curve,
      color .16s $curve;

    &:hover,
    &.is-active {
      background-color: swatch(swatch-e, .2);
      box-shadow: none;
    }
  }

  &__label {
    flex: 0 0 auto;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0 1rem;
    opacity: .54;
    text-transform: uppercase;
  }
}

.gp-req-dlc {
  &__item-txt {
    display: block;
    min-width: 0;
  }

  &__list {
    font-weight: 400;
    list-style: disc;
    margin-left: 1.6rem;
  }
}

.gp-reqs {
  &__tooltip {
    right: calc(50% - 12.5rem);
    top: calc(100% + 1rem);
    width: 25rem;

    .c-subsect__label { display: none; }
  }
}

.gp-requires-app {
  background-color: rgba(#000, .48);
  background-color: swatch(header-offset, .48);
  border-radius: 1.3rem;
  color: $white;
  color: swatch(swatch-c);
  display: block;
  font-size: 1.2rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  padding: 0 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: background-color .16s $curve;

  &:hover {
    background-color: rgba(#000, .72);
    background-color: swatch(header-offset, .72);
  }

  &__link { text-decoration: underline; }
}

.gp-section { margin-bottom: 2rem; }

.gp-section-title {
  color: $grey-darkest;
  color: swatch(swatch-e);
  margin-bottom: 2rem;
  text-align: center;
  word-break: break-word;
}

.gp-stats {
  margin: -1.8rem 0 2.5rem;

  .c-stats__item {
    margin: 1.2rem 0 1.7rem;
    min-width: 0;
  }
}

.gp-soon-banner {
  color: $white;
  display: block;
  font-size: 1.2rem;
  line-height: 2.1rem;
  margin-bottom: 1.6rem;
  padding: .1rem 2rem 0 .8rem;
  position: relative;
  text-transform: uppercase;
  user-select: none;

  &__shape {
    background-image:
      linear-gradient(
        to right,
        rgba($red-med, 0) 1.2rem,
        rgba($red-med, 1) 1.2rem,
        rgba($red-med, 1) calc(100% - 1.2rem),
        rgba($red-med, 0) calc(100% - 1.2rem)
      );
    bottom: 0;
    display: flex;
    filter: drop-shadow(0 1px 0 $red-dark);
    justify-content: space-between;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;

    &-left,
    &-right {
      display: block;
      fill: $red-med;
      height: 100%;
      width: auto;
    }
  }
}

.gp-soon-form {
  background-color: rgba($black, .8);
  border: 1px solid rgba($white, .08);
  border-radius: 3px;
  grid-column: 1;
  grid-row: 2;
  min-width: 36rem;
  padding: 2rem;

  &__btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    flex: 0 0 auto;
  }

  &__errors { margin-top: 1.4rem; }

  &__field {
    border-bottom-right-radius: 0;
    border-right-width: 0;
    border-top-right-radius: 0;
    flex: 1;
  }

  &__inputs {
    display: flex;
    margin-top: 1.6rem;
  }

  &__subtext {
    color: $white;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: .2rem;
  }

  &__title {
    color: $white;
    font-size: 1.4rem;
    text-transform: none;
  }

  .gp-copy-count {
    background-color: transparent;
    border: 1px solid rgba($grey-dark, .4);
    min-width: unset;

    &__nums { background-color: rgba($grey-dark, .12); }
  }
}

.gp-tabs {
  background-color: $white;
  background-color: swatch(swatch-d);

  &--main {
    .c-tabs__link { height: 9.334em; }
  }
}

.gp-tagline { text-transform: uppercase; }

.gp-tags {
  flex: 1;
  overflow: visible;

  &__tooltip {
    font-size: 1.2rem;
    left: 100%;
    line-height: 1.33;
    text-align: left;
    top: calc(100% + 1rem);
    transform: translateX(calc(-50% - 1.3rem));
    width: 22rem;
  }

  .c-tag {
    background-color: rgba($black, .36);
    box-shadow: inset 0 0 0 2px rgba($white, .14);
    color: $white;
    fill: $white;
    font-size: 1.4rem;
    line-height: 1.5;
    margin: 0 .2em .2em 0;
    padding: 0 .58em 1px;
    position: relative;
    transition:
      background-color .24s ease,
      box-shadow .24s ease,
      color .24s ease;
    z-index: 0;
  }

  .c-tag--feat { background-color: rgba($black, .72); }

  .c-tag--linked:hover {
    background-color: rgba($white, .66);
    box-shadow: inset 0 0 0 2px rgba($black, .14);
    color: $black;
  }

  .c-tag__ico { opacity: .66; }
  .c-tag__link { padding: 0 .58em 1px; }
  .c-tooltip__trigger { pointer-events: all; }
}

.gp-title {
  align-content: start;
  max-height: unset;
  min-height: 32rem;
  min-width: 0;

  > * {
    position: relative;
    z-index: 1;
  }

  &.is-editing { min-height: auto; }

  .btn-ico-action {
    background-color: rgba($black, .36);
    border-radius: 3px;
    box-shadow:
      inset 0 -.2rem 0 $red-dark,
      inset 0 0 0 .2rem $red-med,
      inset 0 -.4rem 0 $red-med;
    color: $white;
    fill: $white;
    font-size: 1.6rem;
    height: 2.85em;
    width: 2.85em;

    &:hover,
    &.is-added,
    &.is-added:hover {
      background-color: $red-dark;
      box-shadow:
        inset 0 -.2rem 0 $red-dark,
        inset 0 0 0 .2rem $red-dark,
        inset 0 -.4rem 0 $red-dark;
    }

    .c-spinner--sml {
      border-width: 2px;
      margin: .2rem;
    }

    .is-viewing-bg & { opacity: 0; }
  }

  .btn-wishlist-ico--add,
  .btn-wishlist-ico--remove { height: 70%; }

  .c-pixel-banner {
    color: rgba(var(--header-offset), 1);
    fill: rgba(var(--header-offset), 1);
    margin-bottom: 1.8rem;

    &::after { background-color: swatch(swatch-c); }

    &__left-svg,
    &__right-svg { fill: swatch(swatch-c); }

    &:hover {
      color: $white;
      fill: $white;

      &::after { background-color: $grey-darker; }

      .c-pixel-banner__left-svg,
      .c-pixel-banner__right-svg { fill: $grey-darker; }

      &.is-spotlight {
        &::after { background-color: $imb-light; }

        .c-pixel-banner__left-svg,
        .c-pixel-banner__right-svg { fill: $imb-light; }
      }
    }
  }

  .c-sml-tooltip {
    bottom: calc(100% + 1rem);
    left: 50%;
    right: unset;
    top: unset;
    transform: translateX(-50%);
  }
}

.gp-user-rating {
  align-items: center;
  background-color: $white;
  background-color: swatch(swatch-c);
  border-radius: .923em;
  box-shadow: 0 0 0 1px rgba(var(--header-offset), .14);
  color: $purple-med;
  color: swatch(header-offset, .72);
  display: flex;
  fill: $purple-med;
  fill: swatch(header-offset, .72);
  flex: 0 0 auto;
  font-size: 1.3rem;
  font-weight: 500;
  justify-content: flex-start;
  line-height: 1.846em;
  margin-right: 1.5rem;
  min-width: 0;
  padding-right: .692em;
  text-decoration: none;
  transition:
    background-color .2s ease,
    color .2s ease,
    fill .2s ease;
  white-space: nowrap;

  &__avatar {
    border-radius: 50%;
    display: block;
    height: 1.385em;
    margin: .231em 0 .231em .231em;
    width: 1.385em;
  }

  &__star {
    display: block;
    height: 1.231em;
    margin: 0 .462em 0 .539em;
    transform: translateY(-.1rem);
    width: 1.231em;
  }

  &:hover {
    background-color: $purple-med;
    background-color: swatch(swatch-b);
    color: $white;
    color: swatch(swatch-c);
    fill: $white;
    fill: swatch(swatch-c);
  }
}

@media (min-width: 440px) {
  .gp-body__dev-avatar {
    height: 4.8rem;
    width: 4.8rem;
  }
}

@media (min-width: 480px) {
  .gp-buy { font-size: 1rem; }
  .gp-chat { font-size: 1.5rem; }
  .gp-copy-count { min-width: 28rem; }

  .gp-dev__games {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .gp-rating-pickle--editable {
    grid-template: 'label rating button' auto / max-content 1fr min-content;

    .c-rating-ctrl { margin: 0 2rem; }
  }

  .gp-title {
    .btn-ico-action { font-size: 2rem; }
  }
}

@media (min-width: 580px) {
  .gp-reviews-sort {
    &__ctrls { margin: 0 1rem; }

    &__ctrl {
      flex: 0 0 auto;
      margin-left: .2rem;
      margin-right: .2rem;
    }
  }
}

@include media-query('min-width', $mobile-flip) {
  .gp-reviews-sort {
    flex-direction: row;
  }
}

@include media-query('max-width', $mobile-flip-inv) {
  .gp-tags__tooltip {
    left: unset;
    right: -1rem;
    transform: unset;

    &::after {
      left: unset;
      right: .8rem;
    }
  }
}

@include media-query('min-width', 1080px) {
  .gp-chat { margin: 0; }

  .gp-comments {
    &__list {
      overflow-x: hidden;
      overflow-y: auto;
      overflow-y: overlay;
    }
  }

  .gp-media {
    &::before {
      margin-left: -5.5rem;
      margin-right: -5.5rem;
      width: calc(100% + 11rem);
    }

    &__text {
      a[href] {
        &::after {
          border-radius: .3rem 0 0;
          left: auto;
          right: 0;
          transition:
            visibility .1s ease,
            transform .1s ease;

          .has-app-sidebar & { right: $sidebar-width; }
        }

        &:hover {
          &::after { transform: translateY(-100%) translateZ(0); }
        }
      }
    }
  }

  .gp-name { padding-right: 0; }
}

@include media-query('min-width', 1080px, 'max-width', 1240px) {
  .gp-actions {
    grid-template-columns: repeat(3, min-content) 1fr;

    .btn-ico-action { grid-row: 2; }
  }

  .gp-buy,
  .gp-chat,
  .gp-copy-count,
  .gp-soon-form {
    grid-column: 1 / 4;
    grid-row: unset;
  }
}
