.m-media {
  &__art {
    align-items: center;
    background-color: $black;
    display: flex;
    justify-content: center;
    min-height: 25rem;
    min-width: 25rem;
    padding: 2px;
  }

  &__close {
    background-color: $black;
    color: $white;
  }

  &__nav {
    &-ico {
      display: block;
      fill: $white;
      height: 3rem;
      position: absolute;
      top: calc(50% - 1.5rem);
      width: 10rem;
    }

    &-next,
    &-prev {
      bottom: 0;
      display: block;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity 0.15s ease;
      width: 33.333%;
      z-index: 1;
    }

    &-next {
      background-image:
        linear-gradient(
          to left,
          rgba($black, 0.4) 0,
          rgba($black, 0.4) 10rem,
          rgba($black, 0) 10rem
        );
      right: 0;

      .m-media__nav-ico {
        right: 0;
      }
    }

    &-prev {
      background-image:
        linear-gradient(
          to right,
          rgba($black, 0.4) 0,
          rgba($black, 0.4) 10rem,
          rgba($black, 0) 10rem
        );
      left: 0;

      .m-media__nav-ico {
        left: 0;
      }
    }

    &-next:hover,
    &-prev:hover {
      opacity: 1;
    }
  }

  &__screenshot {
    display: block;
    max-height: calc(100vh - #{$header-height} - 8rem);
    max-width: calc(100vw - 8rem);
    pointer-events: none;
  }
}
