.c-modal {
  --text: #{$black};

  bottom: 0;
  display: flex;
  font-size: 1.2rem;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  scrollbar-color: rgba($white, .24) transparent;
  top: 0;
  z-index: 11;

  &::-webkit-scrollbar {
    &-thumb { background-color: rgba($white, .24); }
    &-track { background-color: transparent; }
  }

  &__btn-close {
    background-color: $grey-darkest;
    border: 2px solid $grey-lighter;
    border-radius: 50%;
    color: $white;
    font-size: 2.4rem;
    font-weight: 700;
    height: 3.5rem;
    line-height: calc(3.5rem - 4px);
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transform: translate(33.333%, -33.333%);
    transition: background-color .2s ease;
    width: 3.5rem;

    &:hover { background-color: $grey-darker; }
  }

  &__content {
    background-color: $grey-lighter;
    color: $grey-darkest;
    flex: 0 0 auto;
    padding: 2rem;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &__inner {
    margin: auto;
    max-width: 100%;
    padding: 2rem;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &__overlay {
    background-color: rgba($black, .7);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;
  }
}

@media (min-width: 480px) {
  .c-modal {
    &__inner {
      padding: 4rem;
      width: auto;
    }
  }
}
