// stylelint-disable custom-property-empty-line-before, declaration-colon-space-after
$black:           #000;
$white:           #fff;

$grey-darkest:    #222;
$grey-darker:     #4b4952;
$grey-dark:       #888;
$grey-med:        #aba8b1;
$grey-light:      #d5d5d5;
$grey-lighter:    #e2e2e2;
$grey-lightest:   #efefef;

$red-darker:      #7f0004;
$red-dark:        #c70a05;
$red-med:         #ff3434;
$red-light:       #f74522;
$red-lighter:     #f5aea0;
$red-lightest:    #fee4e1;

$orange-med:      #ff8900;

$yellow-darker:   #a78703;
$yellow-dark:     #cea603;
$yellow-med:      #e8bd0f;
$yellow-lighter:  #f7ff34;

$green-darker:    #01442f;
$green-dark:      #00744f;
$green-med:       #00a671;
$green-lighter:   #c6ded6;

$blue-darker:     #222a82;
$blue-dark:       #0676bd;
$blue-med:        #1790dd;
$blue-light:      #a4a6f2;

$pink-med:        #d800ff;

$purple-darker:   #2c048a;
$purple-dark:     #360f94;
$purple-med:      #5116dc;
$purple-light:    #6434f9;
$purple-lighter:  #cec7dc;
$purple-lightest: #f0edf8;

$muted-purple-med:#685080;

$facebook-dark:   #243662;
$facebook-med:    #3b579d;

$imb-darkest:     #5e1031;
$imb-darker:      #b51556;
$imb-dark:        #ce1858;
$imb-med:         #d01d5c;
$imb-light:       #e7296c;
$imb-lighter:     #e14d81;

$messenger-dark:  #005382;
$messenger-med:   #00a2ff;

$paypal-dark:     #006f9a;
$paypal-med:      #009fdc;

$skype-dark:      #1671ab;
$skype-med:       #1da1f2;

$twitter-dark:    #1671a8;
$twitter-med:     #1da1f2;

$mac-green:       #34c749;
$mac-red:         #fc615d;
$mac-yellow:      #fdbc40;
// stylelint-enable
