.c-bgctrl {
    background-color: color-mix(in srgb, transparent, var(--black) 60%);
    border: 1px solid color-mix(in srgb, transparent, var(--grey-darkest) 60%);
    border-radius: 3px;
    color: var(--white);
    max-width: 50rem;
    padding: 0.5rem;
    position: relative;
    width: 100%;

    &__errors {
        .c-validation__item {
            margin-top: 1.2rem;
        }
    }

    &__file,
    &__url {
        background-color: color-mix(in srgb, transparent, var(--white) 10%);
        border: 1px solid color-mix(in srgb, transparent, var(--white) 20%);
        color: var(--white);
        font-size: 1.3rem;
        height: 4rem;
        line-height: 2rem;
        margin-top: 1.2rem;
        padding: 0.9rem 1.4rem;
    }

    &__filename {
        display: none;
        font-size: 1.1rem;
        font-weight: 400;
        margin-top: 1rem;

        &:not(:empty) {
            display: block;
        }
    }

    &__label {
        border-radius: 3px;
        box-shadow: inset 0 0 0 1px color-mix(in srgb, transparent, var(--white) 10%);
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
        padding: 1.5rem;
        text-align: center;
        z-index: 0;

        &.checked {
            box-shadow: inset 0 0 0 2px var(--blue-med);
        }
    }

    &__note {
        display: block;
        font-size: 0.8em;
        font-style: normal;
        font-weight: 400;
        opacity: 0.66;
    }

    &__select[type='radio'] {
        display: none;
    }

    &__title {
        border-bottom: 1px solid color-mix(in srgb, transparent, var(--white) 20%);
        color: var(--white);
        font-size: 1.1rem;
        line-height: 2.8rem;
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
        text-align: center;
    }

    &__txt {
        cursor: pointer;
    }

    &__option {
        &-default {
            border-top: 1px solid color-mix(in srgb, transparent, var(--white) 20%);
            font-size: 1.1rem;
            line-height: 3.4rem;
            text-align: center;
            text-decoration: underline;

            input {
                display: none;
            }

            .c-bgctrl {
                &__label {
                    background-color: transparent;
                    box-shadow: none;
                    margin-bottom: 0;
                    padding: 0;
                    width: 100%;

                    &::after,
                    &::before {
                        display: none;
                    }
                }

                &__txt:hover {
                    color: var(--white);
                }
            }
        }
    }

    .c-upload {
        &.has-preview {
            background-color: color-mix(in srgb, transparent, var(--white) 8%);
            border: 1px dashed color-mix(in srgb, transparent, var(--white) 84%);
            border-radius: 3px;
            color: var(--white);
            font-weight: 400;
            margin-top: 1rem;
            text-align: center;

            .c-upload__info {
                justify-items: center;
            }
        }

        &__action,
        &__change {
            background-color: color-mix(in srgb, transparent, var(--white) 24%);
            box-shadow: inset 0 -2px 0 color-mix(in srgb, transparent, var(--white) 24%);
            color: var(--white);
        }

        .c-upload__preview {
            display: none;

            &-spinner {
                border-left-color: color-mix(in srgb, transparent, var(--white) 66%);
                border-top-color: color-mix(in srgb, transparent, var(--white) 66%);

                + .c-upload__info {
                    justify-items: flex-start;
                    text-align: left;
                }
            }
        }
    }
}
